name: Auto-version and Update APT Repo

on:
  push:
    branches:
      - main

jobs:
  apt:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install tools
      run: |
        sudo apt-get update
        sudo apt-get install -y dpkg-dev apt-utils gnupg

    - name: Import GPG key
      uses: crazy-max/ghaction-import-gpg@v6
      with:
        gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
        passphrase: ${{ secrets.GPG_PASSPHRASE }}

    - name: Auto bump version
      run: |
        chmod +x bump-version.sh
        ./bump-version.sh

    - name: Generate Packages
      run: |
        dpkg-scanpackages . /dev/null > Packages
        gzip -9f Packages

    - name: Generate Release
      run: |
        apt-ftparchive release . > Release

    - name: Sign Release
      run: |
        gpg --batch --yes --armor --detach-sign Release
        mv Release.asc Release.gpg

    - name: Commit changes
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add *.deb Packages Packages.gz Release Release.gpg
        git commit -m "Auto bump jtime version" || echo "No changes"
        git push

